<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S2T13">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">D</a></td>
<td>Output</td><td class="watchsize" id="9"><b>:</b>? x <b>:</b>?</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S3T1">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">Xcoords</a></td>
<td>Input</td><td class="watchsize" id="8">27 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S4T1">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">Ycoords</a></td>
<td>Input</td><td class="watchsize" id="8">27 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S5T1">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">Zcoords</a></td>
<td>Input</td><td class="watchsize" id="8">27 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S6T2">
<td id="blank"></td><td>5</td>
<td id=""><a href="#">N</a></td>
<td>Input</td><td class="watchsize" id="1">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S9T2">
<td id="blank"></td><td>6</td>
<td id=""><a href="#">ZNBP0</a></td>
<td>Local</td><td class="watchsize" id="1">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S12T2">
<td id="blank"></td><td>7</td>
<td id=""><a href="#">ctri</a></td>
<td>Local</td><td class="watchsize" id="1">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S13T2">
<td id="blank"></td><td>8</td>
<td id=""><a href="#">ctrj</a></td>
<td>Local</td><td class="watchsize" id="1">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
</tbody>
</table>
